# リージョン
region = "ap-northeast-1"

# リソース名のPrefix
prefix = "test"

# リソース名のSuffix
suffix = ""

# Trello API
trello_base_env = {
  "trello_api_key" = ""
  "trello_token"   = ""
}
trello_task_env = {
  "trello_main_board_id" = ""
  "trello_sub_board_id"  = ""
}
trello_story_env = {
  "trello_main_board_id" = ""
  "trello_sub_board_id"  = ""
}

# Slack
slack_env = {
  "slack_webhook_url" = ""
  "slack_mention"     = ""
}
